<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/members.css">
  <title>Members</title>
</head>
<body>
  <h1>Welcome, <%= user ? user.username : 'Guest' %>!</h1>
  <p>This is the members view.</p>
  <ul>
    <li><a href="/new-message">Create a new message</a></li>
    <li><a href="/log-out">Log Out</a></li>
  </ul>
  <h2>Messages:</h2>
  <% if (user.username === adminUsername) { %>
    <% if (messages.length > 0) { %>
      <ul>
        <% messages.forEach(function(message) { %>
          <li>
            <h3><%= message.username %> - <%= message.title %> - ID : <%= message.id %></h3>
            <p><%= message.message %></p>
            <small>Posted on <%= new Date(message.time).toLocaleString() %></small>
            <form action="/delete/<%= message.id %>" method="POST" style="display:inline;">
              <button type="submit">Delete</button>
            </form>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No messages yet.</p>
    <% } %> 
  <% } else { %>
    <% if (messages.length > 0) { %>
      <ul>
        <% messages.forEach(function(message) { %>
          <li>
            <h3><%= message.username %> - <%= message.title %></h3>
            <p><%= message.message %></p>
            <small>Posted on <%= new Date(message.time).toLocaleString() %></small>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No messages yet.</p>
    <% } %> 
  <% } %>
</body>
</html>
